/* Work Overview
############################################################################ */

.work-overview {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 20px; /* Spacing between cards */
    list-style: none;

    .work-card {
        display: flex;
        align-items: center;
        padding: 20px;
        border-bottom: 4px solid var(--decoration-color); /* Decoration color for border bottom */
        background-color: #fff; /* White background */
      }

      a {
        border-bottom: none;
        color: var(--color-darkblue); /* Adjust this for title color */
        text-decoration: none
      };

      .work-image {
        width: 150px;
        height: auto;
        margin-right: 20px; /* Space between image and details */
      }

      .work-details {
        display: flex;
        flex-direction: column;
      }

      .work-title {
        margin: 0;
        color: var(--color-darkblue); /* Adjust this for title color */
        font-size: 1.5rem;
        font-size: var(--xs);
      }

      .work-meta {
        margin-top: 10px;
        color: var(--decoration-color); /* Decoration color for meta details */
      }

        .work-meta .author,
        .work-meta .work-type,
        .work-meta .publish-date {
        font-size: 0.9rem;
    }

    /* Submit button styling */
    .submit-button {
        padding: var(--size-s) var(--size-m);
        border: none;
        border-radius: 5px;
        margin-top: var(--size-m);
        background-color: var(--decoration-color);
        color: var(--color-lightest);
        cursor: pointer;
        font-size: 15px;
        transition: background-color 0.3s ease; /* Smooth transition for button */
    }
  
    .submit-button:hover {
      background-color: var(--color-green); /* Darken the button on hover */
    }
} 