@media only screen and (width <= 40rem) {
  .header,
  .page,
  .footer {
    padding: var(--size-m);
  }
}

@media only screen and (width > 40rem) {
  .header,
  .page {
    flex: 0 1 auto;
    margin-left: var(--size-xl);

    & > * {
      padding-right: var(--size-xl);
    }

    & > * > *:not(.is-full-width) {
      max-width: var(--max-width-content);
    }
  }

  .footer {
    padding-left: var(--size-xl);
  }
}



/* Page
############################################################################ */
.page {
  flex: 1 1 auto;
}

/* Section
############################################################################ */
.section {
  &.has-seperator {
    padding-top: var(--size-l);
    border-top: dotted var(--border-width) var(--border-color);
    margin-top: var(--size-xl);
  }

  &.with-bg-gray,
  &.with-bg-dark{
    padding-top: var(--size-xl);
    padding-bottom: var(--size-xxl);
    margin-top: var(--size-xl);
    background-color: var(--color-light);

    @media only screen and (width <= 40rem) {
      padding: var(--size-xl) var(--size-m);
      margin: calc(var(--size-m) * -1);
      margin-top: var(--size-xl) ;
    }

    @media only screen and (width > 40rem) {
      padding-left: var(--size-xl);
      margin-left: calc(var(--size-xl) * -1);
    }
  }

  &.with-bg-dark{
    background-color: var(--color-dark);
    * { color: var(--color-lightest) }
  }



}

.has-no-margin-top {
  margin-top: 0;
}

/* Collapsible content is hidden by default */
.collapsible {
  display: none;
  padding-left: 1rem;
}

.toggle-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid pink; /* Pink color for the arrow */
  cursor: pointer;
  margin-right: 0.5rem;
  transition: transform 0.3s ease;
}

/* Rotate the arrow when section is expanded */
.collapsible.open + .toggle-arrow {
  transform: rotate(90deg);
}

/* When a section is expanded, rotate the arrow */
h2.active .toggle-arrow {
  transform: rotate(90deg); /* Rotate right */
}

/* Basic styling adjustments for h2 */
h2 {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.section.with-bg-gray + .section.with-bg-dark{
  margin-top: 0;
}

section + section{
  margin-top: var(--size-xl);
}
